{% extends 'home/main_template.html' %}

{% block body %}

<div class="col-sm-10" style="visibility: Hidden">
{% for images in all_image %}
	
    		<img id="img{{ forloop.counter }}" src="{{images.wish_image.url}}" height="20"/>

{% endfor %}

{% for images_url in all_image_url %}
	
    		<img id="imga{{ forloop.counter }}" src="{{images_url.image_url}}" height="20"/>

{% endfor %}


</div>


{% for wishes in all_wish %}

	<div class="col-md-12" style="text-align: center; color: yellow">
		<h2><i><b>{{wishes}}</b></i></h2>
		</div>

{% endfor %}

{% for images in all_image %}
		
{% endfor %}

{% for images_url in all_image_url %}
		
{% endfor %}

{% endblock %}

