{% extends 'home/visitor_template.html' %}

{% block body %}

<div class="outer">
<div class="middle">
<div class="inner">

<div class="container-fluid">
	
	<div class="row">
  				<div class="col-md-2"></div>
  				<div class="col-md-8">
    			<h2 style="bold: true; background-color: transparent; color:white; font-size:650%; text-align:center">
       				<span style="font-family: 'Cookie', cursive " >&nbsp;&nbsp;<i><b>i</b></i></span>
       				<span style="font-family: 'Indie Flower', cursive">&nbsp;Wish Here</span>
       			</h2>
       			</div>
    			<div class="col-md-2"></div>
 	</div>
 	
    <div class="row">
    <div class="col-md-12">
         <div class="col-md-4"></div>
         	<div class="col-md-4">
            	<div class="panel panel-default" style="background: transparent; border: none !important;">
                	<div class="panel-body" >
                    	{% if error_message %}
                        	<p><strong>{{ error_message }}</strong></p>
                    	{% endif %}
                    	<form class="form-horizontal"  role="form" action="{% url 'home:login_user'%}" method="post" enctype="multipart/form-data">
                        	{% csrf_token %}
                        	<div class="form-group" >
                            	
                            	<div class="col-md-12" style="text-align: center;">
                                	<input id="id_username" placeholder="Username" maxlength="30" name="username" type="text">
                            	</div>
                        	</div>
                        	<div class="form-group">
                            	
                            	<div class="col-md-12" style="text-align: center;">
                                	<input id="id_password" placeholder="Password" maxlength="30" name="password" type="password">
                            	</div>
                        	</div>
                        	<div class="form-group">
                            	<div class="col-md-12" style="text-align: center;">
                                	<button type="submit" class="btn">Login</button>
                            	</div>
                        	</div>
                    	</form>
                	</div>
                	
				</div>
        	</div>
     	</div>
     	</div>
     	
    </div>
 
  
 <div class="col-md-12" style="text-align: center;">
      <a href="{% url 'home:register' %}">
      	<input type="button" value="New User" class="btn" style="color : black"></input>
      </a>
  
 </div>




 </div>
 </div>
 </div>

{% endblock %}


