<!DOCTYPE html>
<html>
<head>
<title>i Wish Here</title>
{% load staticfiles %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Pacifico">
<link href="https://fonts.googleapis.com/css?family=Cookie|Indie+Flower" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap&callback=initMap"></script>
<style>
   	
   	.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 100%
}

body{
	background: white url("/media/background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.col-md-2 a:hover{

text-decoration: None;

}
</style>
</head>


<body>
<div class="outer">
  <div class="middle">
  <div class="inner">

<div class="row">
  				<div class="col-md-2"></div>
  				<div class="col-md-8">
    			<h2 style="bold: true; background-color: transparent; color:white; font-size:450%; text-align:center;"">
       				<span style=" font-size:150%; font-family: 'Cookie', cursive; color: yellow " ><i><b>i</b></i></span>
       				<span style="font-family: 'Indie Flower', cursive">&nbsp;Wish Here</span>
       			</h2>
       			</div>
    			<div class="col-md-2"></div>
 </div>
 
 <div class="row" style="height:20px;"></div>
 
 <div class="row">
 <div class="col-md-5"></div>
  <div class="col-md-1">
      <a href="{% url 'home:login_user' %}">
      	<h2 style="font-family: 'Cookie', cursive; background-color: transparent; color:white; font-size:200%; text-align:center;">Login</h2>
      </a>
  </div>
  
  <div class="col-md-1">
  
      <a href="{% url 'home:register' %}">
      	<h2 style="font-family: 'Cookie', cursive; background-color: transparent; color:white; font-size:200%; text-align:center;">Register</h2>
      </a>
   <div class="col-md-5"></div>
  </div>
  
 </div>
 
 </div>
 </div>
 </div>

</body>
</html>
